.buttons {
    align-items: center;
    margin-bottom: 15px;
}

.button {
    border-color: #008000;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;    
    outline: none;
    padding: 10px 20px;
}

.button + .button {
    margin-left: 15px;
}

.button:nth-child(2) {
    border-color: rgb(81, 133, 253);
}

.button:nth-child(3) {
    border-color:#ff0000;
}

.button:hover {
    border-color: rgb(208, 209, 209);
    box-shadow: 4px 4px 8px 0px rgba(17, 17, 17, 0.2);
}
